<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Qoute</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style type="text/css">
		.form-group{
			margin-bottom: 5px
		}
		/*tr .action-btn{
			display: none;
		}
		tr:hover .action-btn{
			display: block;
		}*/
	</style>
	<script src="js/vue.min.js"></script>
	<script src="js/vue-resource.min.js"></script>
</head>
<body>
	<div class="container">
		<div id="app2">
			<div class="col-md-6 col-md-offset-1">
				<h3>订单信息</h3>
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2">长:</label>
						<div class="col-sm-8">
							<div class="input-group ">
								<input type="text" class="form-control" type="number" v-model="baseInfo.c"/>
								<div class="input-group-addon">cm</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">宽:</label>
						<div class="col-sm-8">
							<div class="input-group ">
								<input type="text" class="form-control" type="number" v-model="baseInfo.k"/>
								<div class="input-group-addon">cm</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">高:</label>
						<div class="col-sm-8">
							<div class="input-group ">
								<input type="text" class="form-control" type="number" v-model="baseInfo.g"/>
								<div class="input-group-addon">cm</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">数量/箱:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" type="number" v-model="baseInfo.slmx"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">重量/箱:</label>
						<div class="col-sm-8">
							<div class="input-group ">
								<input type="text" class="form-control" type="number" v-model="baseInfo.zlmx"/>
								<div class="input-group-addon">kg</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">体积重:</label>
						<div class="col-sm-8">
							<span class="label label-info">{{this.getTJZ()}}</span>
							<span v-if="this.getTJZ()>baseInfo.zlmx" class="label label-danger">请注意是抛货！</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2"></label>
						<div class="col-sm-8">
							<div class="btn btn-primary pull-right" @click="createItem">添加报价</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-4 form-horizontal">
				<h3>设置</h3>
				<div class="form-group">
					<label class="control-label col-sm-4">汇率:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" type="number" v-model="config.hl"/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-4">利润:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" type="number" v-model="config.lr"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">空运费:</label>
					<div class="col-sm-8">
						<div class="input-group ">
							<div class="input-group-addon">￥</div>
							<input type="text" class="form-control" type="number" v-model="config.kyf"/>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-10 col-md-offset-1 table-responsive">
				<table class="table table-hover table-condensed ">
					<thead>
						<tr>
							<th width="150px">数量</th>
							<th width="200px">单价</th>
							<th width="150px">递送方式</th>
							<th width="150px">总运费</th>
							<th>立方数</th>
							<th>成本</th>
							<th>报价</th>
							<th width="20px"></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,i) in items">
							<td :class="[{'has-error':item.sl==null||item.sl==0}]">
								<input type="text" class="form-control" type="number" v-model="item.sl"/>
							</td>
							<td  :class="[{'has-error':item.dj==null||item.dj==0}]">
								<div class="input-group ">
									<div class="input-group-addon">￥</div>
									<input type="text" class="form-control" type="number" v-model="item.dj"/>
								</div>
							</td>
							<td>
								<select v-model="item.dsfs" class="form-control">
									<option value="空运">空运</option>
									<option value="海运">海运</option>
								</select>
							</td>
							<td :class="[{'has-error':item.zyf==null||item.zyf==0}]">
								<div class="input-group" v-if="item.dsfs=='海运'">
									<div class="input-group-addon">$</div>
									<input type="text" class="form-control" type="number" v-model="item.zyf"/>
								</div>
							</td>
							<td>{{ getLFS(item) }}</td>
							<td>{{ getCB(item) }}</td>
							<td>{{ getBJ(item) }}</td>
							<td :class="'text-center'">
								<div class="btn btn-sm btn-danger action-btn" @click="deleteItem(i)" ><span class="glyphicon glyphicon-remove" ></span></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="js/qoute.js"></script>
</body>
</html>